doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link (rel="preconnect" href="https://fonts.googleapis.com")
        link (rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link (href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&family=Open+Sans&display=swap" rel="stylesheet")
    body 
        header.header
            div.container
                div.header__logo
                    img.header__logo-image (src="img/")
                nav.header__navigation 
                    ul.header__navigation-list
                        li.header__navigation-list-item 
                            a.header__navigation-link books
                        li.header__navigation-list-item
                            a.header__navigation-link audiobooks
                        li.header__navigation-list-item
                            a.header__navigation-link  Stationery & gifts
                        li.header__navigation-list-item
                            a.header__navigation-link  blog    
                div.header__icons
    script(src="bundle.js")
    footer              