doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&family=Open+Sans&display=swap' rel='stylesheet')
        link(rel="stylesheet", href="css/reset.css")
        title Bookshop
    body 
        header.header
            div.container
                span.header__logo Bookshop
                nav.header__navigation 
                    ul.header__navigation-list
                        li.header__navigation-list-item 
                            a.header__navigation-link books
                        li.header__navigation-list-item
                            a.header__navigation-link audiobooks
                        li.header__navigation-list-item
                            a.header__navigation-link blog    
                div.header__icons
                    img.header__icon-log-in
                    img.header__icon-search
                    div.header__shoping-cart
                        img.header__icon-shoping-cart
                        div.header__shoping-cart-quantity
        main.main
            div.container                
                div.slider
                    img.slider__image
                    div.slider__aside.slider__aside_purple
                        p.slider__aside-text
                            | Change
                            br
                            | old book 
                            br
                            | on new 
                        img.slider__aside-arrow(src='icons/arrow.svg')  
                    div.slider__aside.slider__aside_pink
                        p.slider__aside-text  
                            | Top 
                            br
                            | 100
                            br
                            | books 
                            br
                            | 2022
                        img.slider__aside-arrow(src='icons/arrow.svg')   
                    div.slider__dots
                        div.slider__dot.slider__dot_active
                        div.slider__dot 
                        div.slider__dot 
                div.main-content
                    div.main-content__navigation
                        ul.main-content__navigation-list 
                            li.main-content__navigation-list-item.main-content__navigation-list-item-active Architecture
                            li.main-content__navigation-list-item Art & Fashion
                            li.main-content__navigation-list-item Biography
                            li.main-content__navigation-list-item Business
                            li.main-content__navigation-list-item Crafts & Hobbies
                            li.main-content__navigation-list-item Drama
                            li.main-content__navigation-list-item Fiction
                            li.main-content__navigation-list-item Food & Drink
                            li.main-content__navigation-list-item Health & Wellbeing
                            li.main-content__navigation-list-item History & Politics
                            li.main-content__navigation-list-item Humor
                            li.main-content__navigation-list-item Poetry
                            li.main-content__navigation-list-item Psychology
                            li.main-content__navigation-list-item Science
                            li.main-content__navigation-list-item Technology
                            li.main-content__navigation-list-item Travel & Maps
                    div.main-content__book-catalog

                        div.main-content__book-card
                            img.main-content__book-cover(src='img/example-cover.png')
                            div.main-content__book-info
                                p.main-content__book-author Kevin Kwan
                                p.main-content__book-name
                                div.main-content__book-rating
                                    span.main-content__book-rating-star.main-content__book-rating-star_active ★
                                    span.main-content__book-rating-star ★
                                    span.main-content__book-rating-star ★
                                    span.main-content__book-rating-star ★
                                    span.main-content__book-rating-star ★
                                    span.main-content__book-reviews 252 review
                                p.main-content__book-description the outrageously funny debut novel about three super-rich, pedigreed Chinese families and the gossip...
                                p.main-content__book-price $4.99
                                button.button.button_buy-button buy now       

            button.button.button_load-more-button load more                         