doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&family=Open+Sans&display=swap' rel='stylesheet')
        title Bookshop
    body 
        header.header
            div.container
                div.header__logo
                    img.header__logo-image
                nav.header__navigation 
                    ul.header__navigation-list
                        li.header__navigation-list-item 
                            a.header__navigation-link books
                        li.header__navigation-list-item
                            a.header__navigation-link audiobooks
                        li.header__navigation-list-item
                            a.header__navigation-link blog    
                div.header__icons
                    img.header__icon-log-in
                    img.header__icon-search
                    div.header__shoping-cart
                        img.header__icon-shoping-cart
                        div.header__shoping-cart-quantity
    footer              