doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
    body 
        header.header
            div.container
                div.header__logo
                    img.header__logo-image
                nav.header__navigation 
                    ul.header__navigation-list
                        li.header__navigation-list-item 
                            a.header__navigation-link books
                        li.header__navigation-list-item
                            a.header__navigation-link audiobooks
                        li.header__navigation-list-item
                            a.header__navigation-link  blog    
                div.header__icons
    footer              